    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.load("visualization", "1", {packages:["gauge"]});
    </script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cs_00603516D65D0000" data-view="NumberAlert" data-addclass-toohigh="isTooHigh" data-addclass-toolow="isTooLow" data-hthreshold=10 data-lthreshold=-12></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cs_gauge_00603516D65D0000" data-view="GoogleGauge" data-title="D0000" data-green_from="-2" data-green_to="10" data-yellow_from="-20" data-yellow_to="-12" data-red_from="10" data-red_to="20" data-min="-20" data-max="20"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cs_00603516D65D0001" data-view="NumberAlert" data-addclass-toohigh="isTooHigh" data-addclass-toolow="isTooLow" data-hthreshold=10 data-lthreshold=-12></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cs_gauge_00603516D65D0001" data-view="GoogleGauge" data-title="D0001" data-green_from="-2" data-green_to="10" data-yellow_from="-20" data-yellow_to="-12" data-red_from="10" data-red_to="20" data-min="-20" data-max="20"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cs_00603516D65D0003" data-view="NumberAlert" data-addclass-toohigh="isTooHigh" data-addclass-toolow="isTooLow" data-hthreshold=10 data-lthreshold=-12></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cs_gauge_00603516D65D0003" data-view="GoogleGauge" data-title="D0003" data-green_from="-2" data-green_to="10" data-yellow_from="-20" data-yellow_to="-12" data-red_from="10" data-red_to="20" data-min="-20" data-max="20"></div>
    </li>

  </ul>
</div>

